.staff-dashboard {
    background-image: url('../../assets/Graphics/bg-dash-staff.svg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.info-card {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    transition: transform 0.2s ease;
    width: 360px;
    height: 150px;
    font-family: 'Roboto', Courier, monospace;

}

.info-card:hover {
    transform: translateY(-4px);
}

.info-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.info-count {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}
