.assist {
    background: url('../../assets/images/graphics/blob-scene-haikei.svg');
    height: 100vh;
    background-size: cover;
    padding: 2vw;
    font-family: "Roboto", serif;

}

.assist-container {
    background-color: white;
    height: 90vh;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.weather-location {
    color: #238744;
}

.weather-sub {
    padding: 10px;
    font-weight: 500;
}

.weather-list {
    display: flex;
    gap: 30px;
    text-transform: capitalize;
}

.weather-item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
    max-width: 300px; /* Limit width for responsiveness */
}

/* Hover effect for smooth interaction */
.weather-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Image styling */
.weather-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Space between icon and text */
}

/* Container for weather description and temperature */
.weather-info-container {
    display: flex;
    flex-direction: column;
}

/* Styling for weather description */
.weather-desc {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
    text-transform: capitalize;
}

/* Styling for temperature */
.weather-temp {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
